*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
*{
	    text-decoration: none;
}
.blockUp{
	height: 75px;
	background-color: #222222;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menuLeft{
	margin-left: 230px;
}
.UpLeft{
	width: 44px;
	height: 38px;
	padding-right: 41px;
}
.UpLeft2{
	width: 26px;
	height: 27px;
}
.menuRight{
	margin-right: 230px;
}
.UpRight{
	width: 32px;
	height: 23px;
	padding-right: 34px;
}
.UpRight2{
	width: 29px;
	height: 29px;
	padding-right: 34px;
}
.UpRight3{
	width: 32px;
	height: 29px;
}
.content{
	display: flex;
	height: 765px;
	/*height: 765px;*/
	padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);

}
.UpContentLeft{
	width: 50%;
	background: rgba(113, 103, 105, 0.08);
}

.Up_im{	
	height: 765px;
	/*height: 765px;*/
	width: 100%;
}
.UpContentRight{
	display: flex;
	align-items: center;
	justify-content:center;
	width: 50%;
	background: #F1E4E6;
}
.UpTextContent {
    height: 93px;
}
.UpText{
font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;
color: #222222;
}
.center{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.center__item{
	position: relative;
}
.CenterContent{
	position: absolute;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center__Big{
	position: relative;
	padding-top: 30px;
	padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.contentMenu{
	height: 1395px;
	text-align: center;
	padding-top: 97px;
}
.contentMenuCenter{
	padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    margin-top: 48px;
}
.MenuItemHeading{
	margin-bottom: 13px;
	margin-top: 25px;
}
.contentMenuImag{
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}
.contentMenuItem{
	background: #F8F8F8;
	margin-bottom: 30px;
	width: 360px;
	display: flex;
	flex-direction: column;
	text-align: left;
}
.itemLink{
	margin-top: 18px;
    margin-bottom: 20px;
    color: #F16D7F;
}
.buttonEnd{
	margin-top: 48px;
	margin-bottom: 94px;
}
.button{
	border: 1px solid #FF6A6A;
    color: #F26376;
    padding: 14px 38.5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    box-sizing: unset;
}
.MenuItemText{
    color: #5D5D5D;
    font-size: 14px;
    line-height: 17px;
}
.footer{
	margin-top: 191px;
	background: #222224;
}
.footerUp{
	padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
	display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 341px;
}
.headingUpContent{
	padding-top: 28px;
    padding-bottom: 16px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 19.96px;
	line-height: 24px;
    color: #FBFBFB;
    text-align: center;
}
.textUpContent{
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 13.972px;
	line-height: 17px;
    color: #FBFBFB;
    text-align: center;
}
.footerContentUp{
	width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerCenter{
	background: url(imag/photoFooter.png);
	background-size: cover;
	min-height: 450px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerContentCenter{
	min-width: 359px;
    align-items: center;
    flex-flow: column;
    display: flex;
}
.footerEnd{
	min-height: 79px;
}